body {
    background: #f1f5f9;
}

.wrapper {
    width: 300px;
    text-align: center;
}

.fetchTitleBtn {
    width: 200px;
    outline: none;
    border: none;
    border-radius: 2px;
    padding: 5px;
    background: yellow;
    cursor: pointer;
}